.resizeHandle {
    position: absolute;
    box-sizing: border-box;
    width: 10px;
    height: 100%;
    top: 0;
    cursor: col-resize;
    z-index: 5;
}

.resizeHandle.left {
    left: -5px;
}

.resizeHandle.right {
    right: -5px;
}
